/*
    Ceylon styles for CodeMirror
*/

.CodeMirror {
    font-family: Inconsolata, Monaco, Courier, monospace;
}

.CodeMirror.cm-s-ceylon {
    width: 100%;
    height: 100%;
}

/* Colors for special Ceylon source elements */
.cm-s-ceylon .cm-classname {color: rgb(153,0,102);}
.cm-s-ceylon .cm-annotation {color: rgb(51,153,204);}

/* Colors for the default CodeMirror source elements */
.cm-s-ceylon .cm-keyword {color: rgb(76,76,76); font-weight: bold;}
.cm-s-ceylon .cm-atom {color: rgb(0,51,153);}
.cm-s-ceylon .cm-number {color: blue;}
.cm-s-ceylon .cm-def {color: rgb(153,0,102);}
.cm-s-ceylon .cm-property {color: rgb(153,0,102);}
.cm-s-ceylon .cm-punctuation,
.cm-s-ceylon .cm-operator {color: black;}
.cm-s-ceylon .cm-variable {color: rgb(0,51,153);}
.cm-s-ceylon .cm-variable-2 {color: rgb(102,51,153);}
.cm-s-ceylon .cm-variable-3 {color: rgb(153,0,102);}
.cm-s-ceylon .cm-comment {color: darkcyan;}
.cm-s-ceylon .cm-string {color: blue;}
.cm-s-ceylon .cm-string-2 {color: blue;}
.cm-s-ceylon .cm-meta {color: #555;}
.cm-s-ceylon .cm-qualifier {color: #555;}
.cm-s-ceylon .cm-builtin {color: rgb(51,153,204);}
.cm-s-ceylon .cm-bracket {color: #cc7;}
.cm-s-ceylon .cm-tag {color: #170;}
.cm-s-ceylon .cm-attribute {color: #00c;}
.cm-s-ceylon .cm-hr {color: #999;}
.cm-s-ceylon .cm-link {color: #00c;}

.cm-s-ceylon .cm-warning {
    background-image:url(../images/underlinew.gif);
    background-position:bottom;
    background-repeat:repeat-x;
}
.cm-s-ceylon .cm-error {
    background-image:url(../images/underline.gif);
    background-position:bottom;
    background-repeat:repeat-x;
}

.CodeMirror-gutters {
    background-color: floralwhite;
}

.CodeMirror-gutter-elt img.iconerror {
    padding: 1px;
    padding-left: 2px;
}

.cm-locked {
    background-color: rgb(255, 243, 243);
}

div.CodeMirror span.CodeMirror-matchingbracket {color: red;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: red;}
