.popup {
    width: 400px;
    height: 200px;
    background: lightyellow;
    text-shadow: none;
    overflow: auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Menlo, Monaco, Courier, monospace;
    padding-left:2px;
    font-size: 85%;
}

.help {
    width: 350px;
    height: 200px;
    top: 0px;
    left: 400px;
    background: #99CCFF;
    text-shadow: none;
    overflow: auto;
    color: black;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    //font-style: italic;
    padding-left: 2px;
    white-space: pre-wrap;
}

.popup > div {
    white-space: pre;
}
.popup > .selected {
    background: red;
    color: white;
}
.popup > .selected span {
    color: white;
}
.infront {
    z-index: 200;
    -moz-box-shadow: 0 0 7px grey;
    -webkit-box-shadow: 0 0 7px grey;
    box-shadow: 0 0 7px grey;
}

.popupWithHelp {
    overflow: hidden;
    position: absolute;
    width: 750px;
    height: 200px;
}
.popupWithHelp > input {
    position: absolute;
    width: 1em;
    height: 10px;
    left: -2em;
}
